$font-size-base: 1.12rem;
$font-family-base: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif; // Base font family
$font-weight-base: 300; // Base font weight
$drawer-left-width: 325px; // Width of the left drawer. Default was 285px.